<div class="footer-style" style="margin-bottom:0px">
    <br />
    <div class="container-fluid body-content">


        <!-- footer starts -->
        <div class="footer container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <p class="footerlabels">ABOUT US</p>
                        <p class="textgray">
                            With registration with us new world of
                            fashion, fantastic discounts and much more opens to you! The whole
                            process will not take you more than a minute!
                        </p>
                        <hr style="background-color: white">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="exampleInputAmount"
                                           placeholder="">
                                    <button class="btncolor">
                                        <i class="fas fa-paper-plane"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-md-3 pull-right">
                        <p class="footerlabels">BLOG</p>
                        <img src="../../Images/detailsquare1.jpg" height=30 width=30>&nbsp;Post
                        1<br> <br> <img src="../../Images/detailsquare1.jpg" height=30
                                        width=30>&nbsp;Post 2<br> <br> <img src="../../Images/detailsquare1.jpg" height=30 width=30>&nbsp;Post
                        3<br>
                    </div>
                    <div class="col-md-3">
                        <p class="footerlabels">CONTACT</p>
                        <p class="textgray">Plot no 38, N Heights,</p>
                        <p class="textgray">Hi-tech City, Phase 2,</p>
                        <p class="textgray">Madhapur, Hyderabad,</p>
                        <p class="textgray">
                            Telangana 500081 TechAspect Solutions
                            Private Limited, Address
                        </p>
                    </div>
                    <div class="col-md-3">
                        <br>
                        <ul class="list-inline photo-stream">
                            <li class="list-inline-item" style="padding: 5px;">
                                <a href="">
                                    <img src="../../Images/detailsquare1.jpg" alt="..." class="img-fluid"
                                         height=70 width=60>
                                </a>
                            </li>
                            <li class="list-inline-item" style="padding: 5px;">
                                <a href="">
                                    <img src="../../Images/detailsquare2.jpg" alt="..." class="img-fluid"
                                         height=70 width=60>
                                </a>
                            </li>
                            <li class="list-inline-item" style="padding: 5px;">
                                <a href="">
                                    <img src="../../Images/detailsquare3.jpg" alt="..." class="img-fluid"
                                         height=70 width=60>
                                </a>
                            </li>
                            <li class="list-inline-item" style="padding: 5px;">
                                <a href="">
                                    <img src="../../Images/detailsquare3.jpg" alt="..." class="img-fluid"
                                         height=70 width=60>
                                </a>
                            </li>
                            <li class="list-inline-item" style="padding: 5px;">
                                <a href="">
                                    <img src="../../Images/detailsquare1.jpg" alt="..." class="img-fluid"
                                         height=70 width=60>
                                </a>
                            </li>
                            <li class="list-inline-item" style="padding: 5px;">
                                <a href="">
                                    <img src="../../Images/detailsquare2.jpg" alt="..." class="img-fluid"
                                         height=70 width=60>
                                </a>
                            </li>
                        </ul>

                        <br>
                    </div>

                </div>
                <br>


            </div>

        </div>
    </div>
    <!-- SUB Footer -->
    <div class="subfooter text-center" style="width: 100%">
        <div>
            © @DateTime.Now.Year Copyright: <a href="">
                TechAspect Solutions Private
                Limited!
            </a> <br>
        </div>
    </div>
    <br />
    <!-- SUB Footer ENDS -->
</div>
<!-- footer ends -->
